<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  <link rel="stylesheet" href="./main.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav class="nav">
      <a class="logo" href="/"><img alt="MediaMarktSaturn" src="./img/Logo-MediaMarktSaturn.jpg" height="50" width="auto" /></a>
      <ul>
        <li>Home</li>
        <li><a href="XXXX">About XXXX</a></li>
        <li><a href="XXXX">FAQ</a></li>
        <li>
          <a href="XXXX" target="_blank">dein social media account</a>
        </li>
      </ul>
    </nav>
    <h1>Dein Name</h1>
    <p>
      <b style="color: #118bee">Mein</b>, <em>Super</em> cooler
      <b style="color: #e30613">Spruch</b>
    </p>
  </header>
  <main>
    <hr />
    <section>
      <header>
        <h2>Bisherige Erfahrungen</h2>
        <p>Unter überschrift - ist immer cool 😎</p>
      </header>
      <aside>
        <img alt="cooles bild" src="" height="150" />
        <h3>Erfahurng 1</h3>
        <p>
          Um was ging es?
        </p>
      </aside>
      <aside>
        <img alt="cooles bild" src="" height="150" />
        <h3>Erfahurng 1</h3>
        <p>
          Um was ging es?
        </p>
      </aside>
      <aside>
        <img alt="cooles bild" src="" height="150" />
        <h3>Erfahurng 1</h3>
        <p>
          Um was ging es?
        </p>
      </aside>
    </section>
    <hr />
    <section>
      <blockquote>
        <img alt="Quote" src="https://andybrewer.github.io/mvp/img/icon-quote.svg" height="80" /><br />
        "Was macht dich zu dir? Welcher Spruch beschreibt dich am besten?"
        <footer>
          <h1>🤠</h1>
          <i>- dein Name</i>
        </footer>
      </blockquote>
    </section>
    <hr />
    <article id="docs">
      <h2>About me</h2>
      <h3 id="html">Steckbrief
      </h3>
      <p>
        Wer bist du?
        Was für hobbys hast du?
      </p>
      <br />
      <h3>Fakten über dich!</h3>
      <ul>
        <li>alter</li>
        <li>Abschlüsse</li>
      </ul>
      <section>
        <h1>Raum für mehr - lass deiner Krativität freien lauf 🤯 </h1>
      </section>
  </main>
  <footer>
    <hr>
    <p>Made with ❤️ by "Dein name hier"</p>
  </footer>
</body>

</html>