/* ================================= 
  Media Queries
==================================== */

@media (max-width: 992px) {
    .nav {
      display: flex;
    }
    .nav {
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      max-width: 1150px;
    }
    .logo {
      display: none;
    }
  }